.atag.quote {
}
.atag.quoteby {
  font-style: italic;
}

.dq-icon-danger {
    color: red;
}

.dq_quotelist {
/*    width: 85%;*/
    margin: auto;
}
.dailyquote blockquote {
	font-family: Georgia, serif;
	position: relative;
	margin: 0.0em;
	padding: 0.5em 3em 0.5em 2.5em;
	border-left: none !important;
	font-size: larger;
}
.dailyquote blockquote:before {
	font-family: Georgia, serif;
	position: absolute;
	font-size: 4em;
	line-height: 1;
	top: 0;
	left: 0;
	content: "\201C";
}
.dailyquote blockquote:after {
	font-family: Georgia, serif;
	position: absolute;
	/*display: block; /*don't use this, it raised the quote too high from the bottom - defeated line-height? */
	float:right;
	font-size:4em;
	line-height: 1;
	right:0;
	bottom:-0.5em;
	content: "\201D";
}
.dailyquote footer {
    text-align: right;
    font-style: italic;
	font-size: 75%;
}
.dailyquote > * > .dq_title {
    text-align: left;
    font-weight: bold;
	margin-bottom: 0;
    /*text-decoration: underline;*/
}
.dq_random.dq_quoted {
    text-align: right;
}
.dq_random.dq_quoted .dq_source {
    font-style: italic;
}
