<plugin>
    <id>dailyquote</id>
    <name>Daily Quotes</name>
    <description>Show random quotes on the site.</description>
    <version>0.1.2</version>
    <glfusionversion>1.1.4</glfusionversion>
    <phpversion>4.3.0</phpversion>
    <url>http://www.leegarner.com</url>
    <maintainer>Lee Garner</maintainer>
</plugin>
