<plugin>
    <id>dailyquote</id>
    <name>Daily Quotes</name>
    <description>Show random quotes on the site.</description>
    <version>0.2.1</version>
    <glfusionversion>1.6.0</glfusionversion>
    <phpversion>5.6.0</phpversion>
    <requires>lglib</requires>
    <url>http://www.leegarner.com</url>
    <maintainer>Lee Garner</maintainer>
</plugin>
